.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

input {
    font-size: 1rem;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid black;
    background-color: transparent;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

#visualization{
    background-color: #d3f5ff ;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    border: none;
}

.page-buttons{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.page-buttons button{
    background-color: #87eb96;
    border: none;
    padding: 15px;
    border-radius: 15px;
}

.page-buttons button:hover{
    background-color: #589761;
    cursor: pointer;
}

.page-buttons-y{
    margin: 15px;
    display: none;
    justify-content: space-around;
}

.page-buttons-y button{
    background-color: #c187eb;
    border: none;
    padding: 15px;
    border-radius: 15px;
}

.page-buttons-y button:hover{
    background-color: #49275f;
    cursor: pointer;
}

.topic-buttons{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.topic-buttons button{
    background-color: skyblue;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.topic-buttons button:hover{
    background-color: #2a5360;
    cursor: pointer;
    color: white;
}